.cont-30{
  width: 30%;
  padding: 10px;
}

.cont-60{
  width: 60%;
  height: 100%;
}

.list-item{
  padding: 10px 20px;
  border: #4dacf5e8 solid 1px;
  border-radius: 5px;
  margin: 20px 0px;
  display: flex;
  cursor: pointer;
}

.info{
  width: 90%;
  border: solid 1px #4dacf5e8;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.delete{
  font-size: 12px;
  color: #f50057;
}

.add{
  font-size: 12px;
  color: #4dacf5;
}

.add-frnd{
  font-size: 12px;
  color: #4dacf5;
}

.remove-frnd{
  font-size: 12px;
  color: #f50057;
}